<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
<!-- version {{ exportdate }} -->
<Document>
	<name>Fastned</name>
{% for station in stations %}
	<Placemark>
		<name>{{ sanitize(station['title']) }}</name>
		<address>{{ sanitize(', '.join(filter(None, [ station['address'], station['city'], station['country']]))) }}</address>
		<description>{{ sanitize(', '.join(filter(None, re.sub('<[^<]+?>', '', station['extra_info']).split('\n')[:-1]))) }}</description>
		<Point>
			<coordinates>{{ sanitize(station['lng']) }},{{ sanitize(station['lat']) }},0</coordinates>
		</Point>
	</Placemark>
{% endfor %}
</Document>
</kml>
